@using ECAF.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="container h-[100vh] lg:px-2 px-4">
    <div class="flex justify-center items-center h-full" id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal lg:w-[40%] md:w-[70%] w-full py-2 md:px-0 px-", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="text-center mb-8">
                    <h1 class="text-5xl font-semibold text-center mb-1 text-white">Welcome</h1>
                    <h3 class="text-lg text-medium">Login in Now</h3>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="mb-5 form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label text-base font-medium" })
                    <div class="relative mt-2">
                        <div class="flex items-center absolute top-[50%] translate-y-[-50%] left-4">
                            <svg width="18" height="18" viewBox="0 0 22 18" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 4L9.16492 9.71544C9.82609 10.1783 10.1567 10.4097 10.5163 10.4993C10.8339 10.5785 11.1661 10.5785 11.4837 10.4993C11.8433 10.4097 12.1739 10.1783 12.8351 9.71544L21 4M5.8 17H16.2C17.8802 17 18.7202 17 19.362 16.673C19.9265 16.3854 20.3854 15.9265 20.673 15.362C21 14.7202 21 13.8802 21 12.2V5.8C21 4.11984 21 3.27976 20.673 2.63803C20.3854 2.07354 19.9265 1.6146 19.362 1.32698C18.7202 1 17.8802 1 16.2 1H5.8C4.11984 1 3.27976 1 2.63803 1.32698C2.07354 1.6146 1.6146 2.07354 1.32698 2.63803C1 3.27976 1 4.11984 1 5.8V12.2C1 13.8802 1 14.7202 1.32698 15.362C1.6146 15.9265 2.07354 16.3854 2.63803 16.673C3.27976 17 4.11984 17 5.8 17Z"
                                      stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control items-center border border-white h-[50px] px-3 placeholder:!text-white w-full focus:outline-none bg-grayDark pl-[50px]", placeholder = "demo@gmail.com" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="mb-3 form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label text-base font-medium" })
                    <div class="relative mt-2">
                        <div class="flex items-center absolute top-[50%] translate-y-[-50%] left-4">
                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.3901 2.34L18.0398 1.69943C18.2122 1.52711 18.309 1.2934 18.309 1.0497C18.309 0.806011 18.2122 0.5723 18.0398 0.399983C17.8675 0.227666 17.6338 0.130859 17.3901 0.130859C17.1464 0.130859 16.9127 0.227666 16.7404 0.399983L15.4593 1.69027L12.8695 4.28001L7.09524 10.0451C6.14907 9.42089 5.00485 9.17009 3.88431 9.34133C2.76377 9.51257 1.74668 10.0937 1.03013 10.972C0.313576 11.8503 -0.0514261 12.9634 0.0058485 14.0955C0.0631231 15.2276 0.538597 16.2981 1.34014 17.0997C2.14168 17.9012 3.21222 18.3767 4.34432 18.434C5.47642 18.4913 6.58948 18.1263 7.46783 17.4097C8.34617 16.6931 8.92726 15.6761 9.0985 14.5555C9.26974 13.435 9.01894 12.2908 8.39469 11.3446L13.5101 6.22002L15.4501 8.16918C15.5354 8.25391 15.6366 8.32099 15.7479 8.36662C15.8591 8.41224 15.9783 8.4355 16.0985 8.43507C16.2187 8.43465 16.3377 8.41054 16.4486 8.36414C16.5596 8.31773 16.6603 8.24993 16.745 8.16461C16.8297 8.07929 16.8968 7.97811 16.9424 7.86686C16.988 7.75561 17.0113 7.63647 17.0109 7.51623C17.0104 7.39599 16.9863 7.27701 16.9399 7.16609C16.8935 7.05516 16.8257 6.95446 16.7404 6.86974L14.8004 4.92973L16.0998 3.63944L16.7404 4.28001C16.8251 4.36533 16.9258 4.43313 17.0367 4.47954C17.1477 4.52594 17.2666 4.55005 17.3869 4.55047C17.5071 4.5509 17.6263 4.52764 17.7375 4.48201C17.8488 4.43639 17.9499 4.36931 18.0353 4.28458C18.1206 4.19986 18.1884 4.09916 18.2348 3.98824C18.2812 3.87732 18.3053 3.75834 18.3057 3.6381C18.3062 3.51786 18.2829 3.39871 18.2373 3.28746C18.1917 3.17621 18.1246 3.07504 18.0398 2.98972L17.3901 2.34ZM4.57872 16.6064C4.03575 16.6064 3.50497 16.4454 3.05351 16.1437C2.60205 15.8421 2.25018 15.4133 2.04239 14.9117C1.83461 14.4101 1.78024 13.8581 1.88617 13.3255C1.9921 12.793 2.25356 12.3038 2.6375 11.9199C3.02143 11.536 3.5106 11.2745 4.04314 11.1686C4.57567 11.0626 5.12766 11.117 5.6293 11.3248C6.13094 11.5326 6.5597 11.8844 6.86135 12.3359C7.16301 12.7874 7.32402 13.3181 7.32402 13.8611C7.32402 14.5892 7.03478 15.2875 6.51994 15.8023C6.0051 16.3172 5.30682 16.6064 4.57872 16.6064Z"
                                      fill="white" />
                            </svg>
                        </div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control items-center border border-white h-[50px] px-3 placeholder:!text-white w-full focus:outline-none bg-grayDark px-[50px]", placeholder = "Enter Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <div class="absolute top-[50%] translate-y-[-50%] right-4 cursor-pointer">
                            <svg width="18" height="15" viewBox="0 0 18 15" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.73112 0.716911C3.65681 0.633138 3.5666 0.564948 3.46573 0.516294C3.36487 0.46764 3.25535 0.439489 3.14353 0.433473C3.0317 0.427457 2.91979 0.443696 2.81429 0.481247C2.70879 0.518799 2.61179 0.576918 2.52891 0.652234C2.44604 0.72755 2.37893 0.818567 2.33149 0.920008C2.28405 1.02145 2.25722 1.1313 2.25254 1.24319C2.24787 1.35507 2.26544 1.46678 2.30426 1.57182C2.34307 1.67687 2.40235 1.77317 2.47866 1.85513L3.607 3.09984C1.17753 4.71761 0.123227 7.03919 0.0724515 7.1485C0.0246752 7.25682 0 7.37391 0 7.49229C0 7.61068 0.0246752 7.72777 0.0724515 7.83609C0.0985446 7.89391 0.716316 9.26486 2.08162 10.6295C3.90672 12.4524 6.20785 13.4158 8.74663 13.4158C9.98051 13.4226 11.2033 13.1828 12.3432 12.7106L13.76 14.2691C13.9118 14.4321 14.1216 14.5287 14.3441 14.538C14.5666 14.5473 14.7838 14.4685 14.9486 14.3187C15.1134 14.169 15.2125 13.9603 15.2245 13.7379C15.2364 13.5156 15.1603 13.2974 15.0125 13.1309L3.73112 0.716911ZM8.74663 11.7232C6.65989 11.7232 4.83479 10.9665 3.3228 9.47501C2.72806 8.88612 2.2163 8.21897 1.80165 7.49194C2.1733 6.83538 3.12675 5.38334 4.76356 4.36853L11.1169 11.3579C10.3507 11.6026 9.55093 11.7259 8.74663 11.7232ZM17.4208 7.83609C17.3954 7.89321 16.7861 9.24652 15.4462 10.5977C15.3695 10.6829 15.2762 10.7516 15.1722 10.7996C15.0681 10.8477 14.9553 10.8741 14.8407 10.8772C14.7262 10.8804 14.6121 10.8602 14.5056 10.818C14.399 10.7757 14.3021 10.7123 14.2208 10.6315C14.1395 10.5506 14.0755 10.4541 14.0326 10.3478C13.9897 10.2415 13.9689 10.1276 13.9714 10.013C13.9739 9.89839 13.9996 9.78548 14.047 9.68112C14.0945 9.57676 14.1626 9.48313 14.2473 9.4059C14.8102 8.83364 15.2957 8.19019 15.6916 7.49194C15.2772 6.76475 14.7654 6.09756 14.1705 5.50887C12.6578 4.01733 10.8334 3.26063 8.74663 3.26063C8.51038 3.26063 8.27414 3.2705 8.04141 3.29025C7.92927 3.30227 7.81585 3.29174 7.70783 3.25929C7.5998 3.22685 7.49936 3.17314 7.41239 3.10131C7.32542 3.02949 7.25369 2.94101 7.20141 2.84107C7.14913 2.74113 7.11735 2.63174 7.10795 2.51935C7.09855 2.40695 7.11171 2.2938 7.14666 2.18657C7.18161 2.07933 7.23765 1.98016 7.31148 1.89489C7.3853 1.80962 7.47543 1.73996 7.57656 1.69002C7.67769 1.64008 7.78779 1.61086 7.90037 1.60407C8.17752 1.5801 8.46455 1.56811 8.74663 1.56811C11.2854 1.56811 13.5865 2.53214 15.4102 4.35513C16.7748 5.71973 17.3926 7.09138 17.4187 7.1485C17.4668 7.25667 17.4918 7.37368 17.4922 7.49207C17.4926 7.61046 17.4683 7.72762 17.4208 7.83609Z"
                                      fill="white" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-between mb-6">
                    <label for="rememberMe" class="flex items-center gap-x-2">
                        @*<input type="checkbox" class="default:ring-3 cursor-pointer" id="rememberMe" />*@
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "default:ring-3 cursor-pointer" })
                        @Html.LabelFor(m => m.RememberMe, new { @class = "text-sm font-normal cursor-pointer" })
                    </label>
                    <a href="/forgot_password" class="text-sm font-normal hover:text-primary pr-3">
                        Forgot
                        Password?
                    </a>
                </div>
                <div class="form-group flex items-center gap-6 pb-2">
                    <input type="submit" value="Log in" class="btn btn-default h-[50px] px-3 text-base uppercase font-medium w-full bgGredient" />
                </div>
                @*<a href="#" class="text-sm font-normal hover:text-primary pr-3 text-center block">
                        Don’t have an account?
                    </a>*@
                @Html.ActionLink("Don’t have an account?", "Register")


            }
    </div>
</div>


@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
