@model ECAF.INFRASTRUCTURE.Models.DashboardViewModel

<div style="width: 63%; margin: 3%; height: 250px; overflow-y: scroll" class="p-4 bg-secondary">
    <h2 class="text-2xl font-semibold text-primary pb-2">Recent Messages.</h2>
    <div class="grid">
        <ul>
            @if (Model.Comments.Count > 0)
            {
                foreach (var item in Model.Comments)
                {
                    <li>

                        <div class="sectionRow" style="display: flex; justify-content: space-between; align-items: center;" data-id="@item.Form.SiteCardId" data-title="comments">
                            <div>
                                <h4 class="font-semibold text-primary pb-2">@ViewBag.Username</h4>
                                <h4>@item.Text</h4>
                            </div>
                            <button class="font-bold text-primary text-center underline">View Comment</button>
                        </div>

                    </li>

                }
            }
        </ul>
    </div>
</div>

<div style="display:flex;">
    <div style="width: 70%; margin: 2%; overflow-y: scroll" class="p-4 bg-secondary col-lg-6">
        <h2 class="text-2xl font-semibold text-primary pb-2">Assigned To You</h2>
        <div class="grid">
            <ul>
                @if (Model.Forms.Count > 0)
                {
                    foreach (var item in Model.Forms.Where(x => x.AssignedToMe.Value))
                    {
                        <li>
                            <div class="sectionRow" style="display: flex; justify-content: space-between; align-items: center;" data-id="@item.SiteCardId">
                                <div style="display:flex;">
                                    <div>
                                        <svg class="mx-auto" width="25" height="25" viewBox="0 0 72 72" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M71.8544 56.3339C71.439 57.3931 70.6474 57.7617 69.5376 57.7412C67.1815 57.7 64.8217 57.7636 62.4656 57.7205C59.0568 57.6731 55.6688 58.2594 52.4742 59.4497C41.8072 63.3173 31.1302 67.1618 20.4433 70.9831C18.8938 71.5446 18.0984 71.1591 17.5351 69.5927C14.9264 62.3342 12.317 55.0756 9.70705 47.8171C9.31592 46.7279 9.43943 46.1796 10.1431 45.912C10.8149 45.6556 11.2959 46.0224 11.6833 47.0985C14.2321 54.1811 16.7741 61.2656 19.3092 68.352C19.5169 68.9359 19.7134 69.0276 20.288 68.8198C27.4741 66.2161 34.6659 63.628 41.8633 61.0554C42.1132 60.9761 42.3451 60.849 42.5464 60.6811C40.8154 60.9731 39.0843 61.2594 37.3533 61.5569C32.6648 62.3616 27.9769 63.1669 23.2897 63.9729C22.1837 64.16 21.3322 63.5575 21.1338 62.4047C20.1969 57.0051 19.2668 51.6054 18.3436 46.2058C17.0585 38.7127 15.7735 31.2203 14.4885 23.7284C14.1498 21.7522 13.7886 19.7797 13.4779 17.7979C13.4012 17.3151 13.2403 17.3058 12.8473 17.4424C9.56857 18.582 6.288 19.7199 2.9962 20.8109C2.43478 20.998 2.35056 21.1852 2.54706 21.7316C4.94869 28.3439 7.33536 34.9649 9.70705 41.5947C9.791 41.7867 9.85741 41.9858 9.90543 42.1898C9.96376 42.4326 9.92833 42.6885 9.80621 42.9064C9.6841 43.1243 9.48429 43.2881 9.24669 43.365C8.72083 43.569 8.28105 43.3875 7.98349 42.9121C7.88099 42.7289 7.79878 42.535 7.73833 42.3339C5.27931 35.492 2.8203 28.6502 0.361277 21.8084C0.174137 21.2937 0.043124 20.794 0.252721 20.2476C0.516589 19.5627 1.06678 19.2707 1.7068 19.0517C5.26247 17.8372 8.79942 16.6058 12.3532 15.4025C12.8491 15.2341 13.0569 15.0601 12.9146 14.4799C12.7037 13.5469 12.545 12.6029 12.4393 11.6523C12.2971 10.5088 12.8679 9.74717 13.9963 9.55068C17.5807 8.92688 21.1663 8.31492 24.7531 7.71482C25.7899 7.54078 25.7918 7.55761 25.7918 6.48155C25.7918 5.15036 25.7918 3.81978 25.7918 2.48984C25.7918 0.85423 26.4393 0.210481 28.0936 0.210481C37.9933 0.210481 47.8918 0.210481 57.789 0.210481C58.9343 0.210481 60.0777 0.221709 61.2211 0.210481C61.5125 0.201477 61.8026 0.252855 62.0731 0.36139C62.3436 0.469925 62.5888 0.633292 62.7931 0.841165C65.6002 3.52288 68.4073 6.18962 71.1994 8.87133C71.4338 9.12631 71.6519 9.3957 71.8526 9.67792L71.8544 56.3339ZM46.6429 57.8422V57.7299H45.8045C39.8522 57.7299 33.8993 57.7299 27.9457 57.7299C26.5216 57.7299 25.7974 57.0412 25.7955 55.6526C25.788 48.9044 25.788 42.1573 25.7955 35.4116C25.7955 34.5994 26.2053 34.1016 26.8397 34.1016C27.4741 34.1016 27.8784 34.5788 27.8915 35.3947C27.8915 35.5819 27.8915 35.769 27.8915 35.9561C27.8915 42.259 27.8915 48.5619 27.8784 54.8573C27.8784 55.4393 27.9738 55.6489 28.6269 55.6489C42.101 55.6264 55.5708 55.6264 69.0361 55.6489C69.6275 55.6489 69.7585 55.488 69.7585 54.9134C69.7422 40.6272 69.7422 26.3421 69.7585 12.0583C69.7585 11.379 69.5358 11.2649 68.9313 11.2724C66.7848 11.2986 64.6364 11.306 62.4899 11.2536C60.8057 11.2125 59.9355 10.2524 59.9243 8.57938C59.913 6.75851 59.8831 4.93765 59.9243 3.11865C59.9411 2.44307 59.7072 2.32143 59.0952 2.32143C48.9635 2.33889 38.8317 2.33889 28.6999 2.32143C28.0131 2.32143 27.8596 2.50858 27.8615 3.18042C27.884 12.0047 27.889 20.829 27.8765 29.6533C27.8865 29.9098 27.8796 30.1667 27.8559 30.4224C27.8425 30.6614 27.738 30.8861 27.564 31.0504C27.3899 31.2147 27.1595 31.3061 26.9202 31.3057C26.6857 31.3394 26.447 31.2865 26.2486 31.1571C26.0503 31.0276 25.9058 30.8303 25.8423 30.6021C25.7623 30.3085 25.737 30.0028 25.7674 29.7C25.7674 23.3036 25.7674 16.9078 25.7674 10.5126C25.7674 9.92681 25.7487 9.66481 24.9983 9.80516C21.6765 10.4246 18.338 10.9692 15.0031 11.525C14.6288 11.5886 14.5053 11.7121 14.5783 12.1145C14.9732 14.2947 15.3381 16.4786 15.7142 18.6644C17.0442 26.4307 18.376 34.1983 19.7097 41.9671C20.8045 48.3561 21.9067 54.7431 22.979 61.1359C23.0801 61.7328 23.271 61.8844 23.8717 61.7759C25.9302 61.3866 28.0037 61.0479 30.0716 60.6923L46.6429 57.8422ZM62.0352 3.03819C62.0352 4.94889 62.0539 6.68743 62.024 8.42409C62.024 8.98551 62.2111 9.17265 62.7463 9.17265C64.5167 9.15955 66.2889 9.17265 68.0592 9.17265C68.0858 9.17781 68.1132 9.17711 68.1395 9.17064C68.1659 9.16417 68.1905 9.15209 68.2116 9.13519C68.2328 9.11828 68.2501 9.09696 68.2622 9.07273C68.2743 9.0485 68.2811 9.02191 68.2819 8.99483L62.0352 3.03819Z"
                                                  fill="url(#paint0_linear_51_360)" />
                                            <path d="M49.0967 30.4186H63.5065C63.7394 30.4045 63.973 30.412 64.2045 30.4411C64.7528 30.544 65.086 30.9014 65.0916 31.4535C65.0916 32.0374 64.7528 32.4023 64.1671 32.5052C64.028 32.5218 63.8878 32.5262 63.7479 32.5183H34.3613C34.1983 32.5288 34.0347 32.5231 33.8728 32.5015C33.3227 32.3911 32.997 32.0449 32.9895 31.4853C32.9727 31.2364 33.0514 30.9903 33.2096 30.7973C33.3678 30.6044 33.5936 30.479 33.841 30.4467C34.072 30.4119 34.3061 30.4025 34.5391 30.4186H49.0967Z"
                                                  fill="url(#paint1_linear_51_360)" />
                                            <path d="M49.0926 22.9686H63.5024C63.7359 22.9595 63.9697 22.9664 64.2023 22.9892C64.4398 23.008 64.6619 23.114 64.826 23.2867C64.9901 23.4595 65.0846 23.6867 65.0912 23.9249C65.1194 24.1478 65.0701 24.3736 64.9515 24.5644C64.8329 24.7552 64.6523 24.8995 64.44 24.9729C64.1517 25.0696 63.8461 25.1041 63.5436 25.0739H34.4994C34.3834 25.0739 34.2655 25.0739 34.1494 25.0739C33.4009 25.0328 32.948 24.5948 32.978 23.9642C33.0079 23.3335 33.4439 22.9799 34.1794 22.9799C39.1536 22.9699 44.1247 22.9661 49.0926 22.9686Z"
                                                  fill="url(#paint2_linear_51_360)" />
                                            <path d="M49.0944 39.9684H34.4675C34.2349 39.9827 34.0014 39.9714 33.7713 39.9347C33.561 39.8982 33.3695 39.7909 33.2286 39.6305C33.0877 39.4702 33.0058 39.2665 32.9966 39.0533C32.9614 38.8318 33.0029 38.605 33.1142 38.4103C33.2254 38.2157 33.3998 38.0649 33.6085 37.9828C33.8943 37.8781 34.1999 37.8385 34.503 37.8668H63.5472C63.6632 37.8668 63.7792 37.8668 63.8971 37.8668C64.6457 37.9061 65.121 38.3328 65.1098 38.9466C65.0986 39.5604 64.6289 39.9628 63.8597 39.9628C58.9342 39.969 54.0124 39.9709 49.0944 39.9684Z"
                                                  fill="url(#paint3_linear_51_360)" />
                                            <path d="M49.0179 15.4906H63.4277C63.6838 15.4799 63.9404 15.4899 64.1949 15.5205C64.7844 15.6178 65.1157 16.0014 65.0913 16.5853C65.0955 16.8352 65.002 17.0769 64.8308 17.259C64.6595 17.4411 64.424 17.5491 64.1743 17.5603C63.9194 17.5856 63.6632 17.595 63.4071 17.5884H34.6511C34.3722 17.5976 34.093 17.5832 33.8165 17.5454C33.5799 17.5176 33.3629 17.4007 33.2096 17.2185C33.0562 17.0363 32.9781 16.8025 32.9912 16.5648C32.967 16.3281 33.0338 16.0912 33.1781 15.9021C33.3223 15.713 33.5332 15.5859 33.7678 15.5467C34.0433 15.4988 34.323 15.48 34.6025 15.4906H49.0179Z"
                                                  fill="url(#paint4_linear_51_360)" />
                                            <path d="M49.0162 45.3674H63.5028C63.7356 45.3593 63.9688 45.3662 64.2008 45.388C64.4501 45.404 64.6835 45.5164 64.8512 45.7016C65.0189 45.8869 65.1078 46.1301 65.0991 46.3798C65.119 46.6168 65.0496 46.8526 64.9045 47.041C64.7594 47.2294 64.5491 47.3567 64.3149 47.3979C64.0645 47.4495 63.8089 47.4721 63.5533 47.4653C53.8719 47.4653 44.1918 47.4653 34.5129 47.4653C34.2335 47.4765 33.954 47.4456 33.6838 47.3736C33.4532 47.3145 33.2539 47.1697 33.1263 46.9687C32.9987 46.7678 32.9524 46.5257 32.997 46.2919C33.0061 46.0675 33.0956 45.8538 33.2492 45.69C33.4028 45.5261 33.6102 45.4229 33.8336 45.3992C34.0888 45.3696 34.3459 45.3596 34.6027 45.3693L49.0162 45.3674Z"
                                                  fill="url(#paint5_linear_51_360)" />
                                            <defs>
                                                <linearGradient id="paint0_linear_51_360" x1="-4.72887" y1="36.2208"
                                                                x2="97.3528" y2="38.203" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#C39639" />
                                                    <stop offset="1" stop-color="#EDD8A3" />
                                                </linearGradient>
                                                <linearGradient id="paint1_linear_51_360" x1="30.805" y1="31.4822"
                                                                x2="72.9266" y2="43.7927" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#C39639" />
                                                    <stop offset="1" stop-color="#EDD8A3" />
                                                </linearGradient>
                                                <linearGradient id="paint2_linear_51_360" x1="30.7931" y1="24.0396"
                                                                x2="72.9578" y2="36.3267" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#C39639" />
                                                    <stop offset="1" stop-color="#EDD8A3" />
                                                </linearGradient>
                                                <linearGradient id="paint3_linear_51_360" x1="30.8007" y1="38.9311"
                                                                x2="72.9585" y2="51.2368" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#C39639" />
                                                    <stop offset="1" stop-color="#EDD8A3" />
                                                </linearGradient>
                                                <linearGradient id="paint4_linear_51_360" x1="30.8039" y1="16.5537"
                                                                x2="72.9032" y2="28.9037" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#C39639" />
                                                    <stop offset="1" stop-color="#EDD8A3" />
                                                </linearGradient>
                                                <linearGradient id="paint5_linear_51_360" x1="30.797" y1="46.4307"
                                                                x2="72.9096" y2="58.7982" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#C39639" />
                                                    <stop offset="1" stop-color="#EDD8A3" />
                                                </linearGradient>
                                            </defs>
                                        </svg>
                                    </div>
                                    <h4 style="margin-left:20%;white-space:nowrap;">@item.Description</h4>
                                </div>
                                <p>@item.DueDate.Value.ToString("dd MMMM yyyy")</p>

                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>


    <div style="width: 70%; margin: 2%; overflow-y: scroll" class="p-4 bg-secondary col-lg-6">
        <h2 class="text-2xl font-semibold text-primary pb-2">Open Forms</h2>
        <div class="grid">
            <ul>
                @if (Model.Forms.Count > 0)
                {
                    foreach (var item in Model.Forms)
                    {
                        <li>
                            <div class="sectionRow" style="display: flex; justify-content: space-between; align-items: center;" data-id="@item.SiteCardId">
                                <div style="display:flex;">
                                    <div>
                                        <svg class="mx-auto" width="25" height="25" viewBox="0 0 72 72" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M71.8544 56.3339C71.439 57.3931 70.6474 57.7617 69.5376 57.7412C67.1815 57.7 64.8217 57.7636 62.4656 57.7205C59.0568 57.6731 55.6688 58.2594 52.4742 59.4497C41.8072 63.3173 31.1302 67.1618 20.4433 70.9831C18.8938 71.5446 18.0984 71.1591 17.5351 69.5927C14.9264 62.3342 12.317 55.0756 9.70705 47.8171C9.31592 46.7279 9.43943 46.1796 10.1431 45.912C10.8149 45.6556 11.2959 46.0224 11.6833 47.0985C14.2321 54.1811 16.7741 61.2656 19.3092 68.352C19.5169 68.9359 19.7134 69.0276 20.288 68.8198C27.4741 66.2161 34.6659 63.628 41.8633 61.0554C42.1132 60.9761 42.3451 60.849 42.5464 60.6811C40.8154 60.9731 39.0843 61.2594 37.3533 61.5569C32.6648 62.3616 27.9769 63.1669 23.2897 63.9729C22.1837 64.16 21.3322 63.5575 21.1338 62.4047C20.1969 57.0051 19.2668 51.6054 18.3436 46.2058C17.0585 38.7127 15.7735 31.2203 14.4885 23.7284C14.1498 21.7522 13.7886 19.7797 13.4779 17.7979C13.4012 17.3151 13.2403 17.3058 12.8473 17.4424C9.56857 18.582 6.288 19.7199 2.9962 20.8109C2.43478 20.998 2.35056 21.1852 2.54706 21.7316C4.94869 28.3439 7.33536 34.9649 9.70705 41.5947C9.791 41.7867 9.85741 41.9858 9.90543 42.1898C9.96376 42.4326 9.92833 42.6885 9.80621 42.9064C9.6841 43.1243 9.48429 43.2881 9.24669 43.365C8.72083 43.569 8.28105 43.3875 7.98349 42.9121C7.88099 42.7289 7.79878 42.535 7.73833 42.3339C5.27931 35.492 2.8203 28.6502 0.361277 21.8084C0.174137 21.2937 0.043124 20.794 0.252721 20.2476C0.516589 19.5627 1.06678 19.2707 1.7068 19.0517C5.26247 17.8372 8.79942 16.6058 12.3532 15.4025C12.8491 15.2341 13.0569 15.0601 12.9146 14.4799C12.7037 13.5469 12.545 12.6029 12.4393 11.6523C12.2971 10.5088 12.8679 9.74717 13.9963 9.55068C17.5807 8.92688 21.1663 8.31492 24.7531 7.71482C25.7899 7.54078 25.7918 7.55761 25.7918 6.48155C25.7918 5.15036 25.7918 3.81978 25.7918 2.48984C25.7918 0.85423 26.4393 0.210481 28.0936 0.210481C37.9933 0.210481 47.8918 0.210481 57.789 0.210481C58.9343 0.210481 60.0777 0.221709 61.2211 0.210481C61.5125 0.201477 61.8026 0.252855 62.0731 0.36139C62.3436 0.469925 62.5888 0.633292 62.7931 0.841165C65.6002 3.52288 68.4073 6.18962 71.1994 8.87133C71.4338 9.12631 71.6519 9.3957 71.8526 9.67792L71.8544 56.3339ZM46.6429 57.8422V57.7299H45.8045C39.8522 57.7299 33.8993 57.7299 27.9457 57.7299C26.5216 57.7299 25.7974 57.0412 25.7955 55.6526C25.788 48.9044 25.788 42.1573 25.7955 35.4116C25.7955 34.5994 26.2053 34.1016 26.8397 34.1016C27.4741 34.1016 27.8784 34.5788 27.8915 35.3947C27.8915 35.5819 27.8915 35.769 27.8915 35.9561C27.8915 42.259 27.8915 48.5619 27.8784 54.8573C27.8784 55.4393 27.9738 55.6489 28.6269 55.6489C42.101 55.6264 55.5708 55.6264 69.0361 55.6489C69.6275 55.6489 69.7585 55.488 69.7585 54.9134C69.7422 40.6272 69.7422 26.3421 69.7585 12.0583C69.7585 11.379 69.5358 11.2649 68.9313 11.2724C66.7848 11.2986 64.6364 11.306 62.4899 11.2536C60.8057 11.2125 59.9355 10.2524 59.9243 8.57938C59.913 6.75851 59.8831 4.93765 59.9243 3.11865C59.9411 2.44307 59.7072 2.32143 59.0952 2.32143C48.9635 2.33889 38.8317 2.33889 28.6999 2.32143C28.0131 2.32143 27.8596 2.50858 27.8615 3.18042C27.884 12.0047 27.889 20.829 27.8765 29.6533C27.8865 29.9098 27.8796 30.1667 27.8559 30.4224C27.8425 30.6614 27.738 30.8861 27.564 31.0504C27.3899 31.2147 27.1595 31.3061 26.9202 31.3057C26.6857 31.3394 26.447 31.2865 26.2486 31.1571C26.0503 31.0276 25.9058 30.8303 25.8423 30.6021C25.7623 30.3085 25.737 30.0028 25.7674 29.7C25.7674 23.3036 25.7674 16.9078 25.7674 10.5126C25.7674 9.92681 25.7487 9.66481 24.9983 9.80516C21.6765 10.4246 18.338 10.9692 15.0031 11.525C14.6288 11.5886 14.5053 11.7121 14.5783 12.1145C14.9732 14.2947 15.3381 16.4786 15.7142 18.6644C17.0442 26.4307 18.376 34.1983 19.7097 41.9671C20.8045 48.3561 21.9067 54.7431 22.979 61.1359C23.0801 61.7328 23.271 61.8844 23.8717 61.7759C25.9302 61.3866 28.0037 61.0479 30.0716 60.6923L46.6429 57.8422ZM62.0352 3.03819C62.0352 4.94889 62.0539 6.68743 62.024 8.42409C62.024 8.98551 62.2111 9.17265 62.7463 9.17265C64.5167 9.15955 66.2889 9.17265 68.0592 9.17265C68.0858 9.17781 68.1132 9.17711 68.1395 9.17064C68.1659 9.16417 68.1905 9.15209 68.2116 9.13519C68.2328 9.11828 68.2501 9.09696 68.2622 9.07273C68.2743 9.0485 68.2811 9.02191 68.2819 8.99483L62.0352 3.03819Z"
                                                  fill="url(#paint0_linear_51_360)" />
                                            <path d="M49.0967 30.4186H63.5065C63.7394 30.4045 63.973 30.412 64.2045 30.4411C64.7528 30.544 65.086 30.9014 65.0916 31.4535C65.0916 32.0374 64.7528 32.4023 64.1671 32.5052C64.028 32.5218 63.8878 32.5262 63.7479 32.5183H34.3613C34.1983 32.5288 34.0347 32.5231 33.8728 32.5015C33.3227 32.3911 32.997 32.0449 32.9895 31.4853C32.9727 31.2364 33.0514 30.9903 33.2096 30.7973C33.3678 30.6044 33.5936 30.479 33.841 30.4467C34.072 30.4119 34.3061 30.4025 34.5391 30.4186H49.0967Z"
                                                  fill="url(#paint1_linear_51_360)" />
                                            <path d="M49.0926 22.9686H63.5024C63.7359 22.9595 63.9697 22.9664 64.2023 22.9892C64.4398 23.008 64.6619 23.114 64.826 23.2867C64.9901 23.4595 65.0846 23.6867 65.0912 23.9249C65.1194 24.1478 65.0701 24.3736 64.9515 24.5644C64.8329 24.7552 64.6523 24.8995 64.44 24.9729C64.1517 25.0696 63.8461 25.1041 63.5436 25.0739H34.4994C34.3834 25.0739 34.2655 25.0739 34.1494 25.0739C33.4009 25.0328 32.948 24.5948 32.978 23.9642C33.0079 23.3335 33.4439 22.9799 34.1794 22.9799C39.1536 22.9699 44.1247 22.9661 49.0926 22.9686Z"
                                                  fill="url(#paint2_linear_51_360)" />
                                            <path d="M49.0944 39.9684H34.4675C34.2349 39.9827 34.0014 39.9714 33.7713 39.9347C33.561 39.8982 33.3695 39.7909 33.2286 39.6305C33.0877 39.4702 33.0058 39.2665 32.9966 39.0533C32.9614 38.8318 33.0029 38.605 33.1142 38.4103C33.2254 38.2157 33.3998 38.0649 33.6085 37.9828C33.8943 37.8781 34.1999 37.8385 34.503 37.8668H63.5472C63.6632 37.8668 63.7792 37.8668 63.8971 37.8668C64.6457 37.9061 65.121 38.3328 65.1098 38.9466C65.0986 39.5604 64.6289 39.9628 63.8597 39.9628C58.9342 39.969 54.0124 39.9709 49.0944 39.9684Z"
                                                  fill="url(#paint3_linear_51_360)" />
                                            <path d="M49.0179 15.4906H63.4277C63.6838 15.4799 63.9404 15.4899 64.1949 15.5205C64.7844 15.6178 65.1157 16.0014 65.0913 16.5853C65.0955 16.8352 65.002 17.0769 64.8308 17.259C64.6595 17.4411 64.424 17.5491 64.1743 17.5603C63.9194 17.5856 63.6632 17.595 63.4071 17.5884H34.6511C34.3722 17.5976 34.093 17.5832 33.8165 17.5454C33.5799 17.5176 33.3629 17.4007 33.2096 17.2185C33.0562 17.0363 32.9781 16.8025 32.9912 16.5648C32.967 16.3281 33.0338 16.0912 33.1781 15.9021C33.3223 15.713 33.5332 15.5859 33.7678 15.5467C34.0433 15.4988 34.323 15.48 34.6025 15.4906H49.0179Z"
                                                  fill="url(#paint4_linear_51_360)" />
                                            <path d="M49.0162 45.3674H63.5028C63.7356 45.3593 63.9688 45.3662 64.2008 45.388C64.4501 45.404 64.6835 45.5164 64.8512 45.7016C65.0189 45.8869 65.1078 46.1301 65.0991 46.3798C65.119 46.6168 65.0496 46.8526 64.9045 47.041C64.7594 47.2294 64.5491 47.3567 64.3149 47.3979C64.0645 47.4495 63.8089 47.4721 63.5533 47.4653C53.8719 47.4653 44.1918 47.4653 34.5129 47.4653C34.2335 47.4765 33.954 47.4456 33.6838 47.3736C33.4532 47.3145 33.2539 47.1697 33.1263 46.9687C32.9987 46.7678 32.9524 46.5257 32.997 46.2919C33.0061 46.0675 33.0956 45.8538 33.2492 45.69C33.4028 45.5261 33.6102 45.4229 33.8336 45.3992C34.0888 45.3696 34.3459 45.3596 34.6027 45.3693L49.0162 45.3674Z"
                                                  fill="url(#paint5_linear_51_360)" />
                                            <defs>
                                                <linearGradient id="paint0_linear_51_360" x1="-4.72887" y1="36.2208"
                                                                x2="97.3528" y2="38.203" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#C39639" />
                                                    <stop offset="1" stop-color="#EDD8A3" />
                                                </linearGradient>
                                                <linearGradient id="paint1_linear_51_360" x1="30.805" y1="31.4822"
                                                                x2="72.9266" y2="43.7927" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#C39639" />
                                                    <stop offset="1" stop-color="#EDD8A3" />
                                                </linearGradient>
                                                <linearGradient id="paint2_linear_51_360" x1="30.7931" y1="24.0396"
                                                                x2="72.9578" y2="36.3267" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#C39639" />
                                                    <stop offset="1" stop-color="#EDD8A3" />
                                                </linearGradient>
                                                <linearGradient id="paint3_linear_51_360" x1="30.8007" y1="38.9311"
                                                                x2="72.9585" y2="51.2368" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#C39639" />
                                                    <stop offset="1" stop-color="#EDD8A3" />
                                                </linearGradient>
                                                <linearGradient id="paint4_linear_51_360" x1="30.8039" y1="16.5537"
                                                                x2="72.9032" y2="28.9037" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#C39639" />
                                                    <stop offset="1" stop-color="#EDD8A3" />
                                                </linearGradient>
                                                <linearGradient id="paint5_linear_51_360" x1="30.797" y1="46.4307"
                                                                x2="72.9096" y2="58.7982" gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="#C39639" />
                                                    <stop offset="1" stop-color="#EDD8A3" />
                                                </linearGradient>
                                            </defs>
                                        </svg>
                                    </div>
                                    <h4 style="margin-left: 20%; white-space: nowrap;">@item.Description</h4>
                                </div>
                                <p>@item.DueDate.Value.ToString("dd MMMM yyyy")</p>

                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>